<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center blue-text text-lighten-2">Ingeniería y Diseño Web</h1>
      <div class="row center">
        <h5 class="header col s12 light">Diseño Web de Alta Calidad y Tecnologia Moderna</h5>
      </div>
      <div class="row center">
        <a href="/welcome/mybenefits" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Beneficios Garantizados</a>
      </div>
      <br><br>
    </div>
  </div>
  <div class="parallax">
    <%= image_tag "background.png", :alt => "Imagen 1", :title => "Encode Web Banner"%>
  </div>
</div>

   <!-- Contenido Jumbotron -->
   <!-- Contenido Informacion Diseño Web, Dominio, Hosting -->
   <div class="container">
     <div class="section">

       <!--   Icon Section   -->
       <div class="row">
         <div class="col s12 m4">
           <div class="icon-block">
             <h2 class="center brown-text"><%= image_tag "icons/design.png", :alt => "Imagen 1", :title => "Encode Web Banner"%></h2>
             <h5 class="center">Diseño Web</h5>

             <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus autem quaerat dicta similique, ipsam nostrum laboriosam. Facilis atque iure perferendis quia incidunt ut iste, eius doloribus sequi vitae dolore adipisci.</p>
           </div>
         </div>

         <div class="col s12 m4">
           <div class="icon-block">
             <h2 class="center brown-text"><%= image_tag "icons/domain_2.png", :alt => "Imagen 1", :title => "Encode Web Banner"%></h2>
             <h5 class="center">Dominio</h5>

             <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni architecto autem quam inventore reprehenderit omnis tenetur dolor minus. Eaque animi nemo, perspiciatis et sint aperiam repudiandae totam quod modi unde.</p>
           </div>
         </div>

         <div class="col s12 m4">
           <div class="icon-block">
             <h2 class="center brown-text"><%= image_tag "icons/hosting.png", :alt => "Imagen 1", :title => "Encode Web Banner"%></h2>
             <h5 class="center">Hosting</h5>

             <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa quidem et soluta molestias enim sint. Provident aut inventore laudantium, est sed fuga, aperiam illum officia sunt beatae molestiae perferendis hic?</p>
           </div>
         </div>
       </div>

      </div>
   </div>
   <!-- Contenido de Beneficios -->
   <div class="container">
     <div class="row">

       <div class="col s12 m4">

       </div>
       <div class="col s12 m8">

       </div>
     </div>
   </div>
   <!-- Parallax 2 -->
   <div class="parallax-container valign-wrapper">
     <div class="section no-pad-bot">
       <div class="container">
         <div class="row center">
           <h5 class="header col s12 light"></h5>
         </div>
       </div>
     </div>
     <div class="parallax"><%= image_tag "background_2.png", :alt => "Imagen 1", :title => "Encode Web Banner"%></div>
   </div>
   <!-- Contenido de informacion contactenos -->
   <div class="container">
     <div class="section">

       <div class="row">
         <div class="col s12 center">
           <h3><i class="mdi-content-send brown-text"></i></h3>
           <h4>Contactenos</h4>
           <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
         </div>
       </div>

     </div>
   </div>
   <!-- Parallax 3 -->
   <div class="parallax-container valign-wrapper">
     <div class="section no-pad-bot">
       <div class="container">
         <div class="row center">
           <h5 class="header col s12 light"></h5>
         </div>
       </div>
     </div>
     <div class="parallax"><%= image_tag "background_3.png", :alt => "Imagen 1", :title => "Encode Web Banner"%></div>
   </div>
