<div class="container">
  <div class="row">
    <div class="col s12">
      <h3>Beneficios Garantizados</h3>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m7">
      <div class="card hoverable">
        <div class="card-image">
          <%= image_tag "benefits/benefits_3.jpg", :alt => "Imagen 1", :title => "Encode Web Banner"%>
          <span class="card-title ">Diseño Web Reponsive</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>

    <div class="col s12 m5">
      <div class="card hoverable">
        <div class="card-image">
          <%= image_tag "benefits/benefits_4.jpg", :alt => "Imagen 1", :title => "Encode Web Banner"%>
          <span class="card-title">Diseño Personalizado</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>

    <div class="col s12 m5">
      <div class="card hoverable">
        <div class="card-image">
          <%= image_tag "benefits/benefits_7.jpg", :alt => "Imagen 1", :title => "Encode Web Banner"%>
          <span class="card-title">Estandares de Diseño</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>

    <div class="col s12 m7">
      <div class="card hoverable">
        <div class="card-image">
          <%= image_tag "benefits/benefits_8.jpg", :alt => "Imagen 1", :title => "Encode Web Banner"%>
          <span class="card-title">Diseño Atractivo</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <h3>¿Porque una Pagina Web?</h3>
    </div>
    <div class="col s12 center">
      <video class="responsive-video" controls>
        <source src="<%= asset_path 'videos/video_2.avi' %>" type="video/mp4">
      </video>
    </div>
    <div class="col s12 center">

        <div class="row">
          <div class="col s12">
            <div class="card-panel blue">
              <span class="white-text">
              I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.
              </span>
            </div>
          </div>
        </div>

    </div>
  </div>
</div>
